*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Decoration Header of the Website */

.navbar{
    display: flex;
    /* to check navigation bar area */
    background-color: yellow;
    align-items: center;
    justify-content: space-evenly; 
}

ul{
    list-style: none;
}

.nav_list{   
    display: flex;
}

a{
    text-decoration: none;
}

li{
    margin-right: 60px;
}

.navbar_Logo{
    background-color: blue;
}

.navlistTags{
    color: #02152d;
}

.button{
    border: 0;
    background-color: #FC6736;
    color: white;
    border-radius: 100px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 1.125rem 1.125rem -1rem #de5a2d;
}

.button:hover{
    background-color: #f27147;
}
/* ------------------------------------------------------------------------------------------------ */

/* Styling Call to Action Section */
.call_to_action{
    display: flex;
    background-color: #FC6736;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
}

.inverse_button{
    border: 0;
    background-color: white;
    color: #FC6736;
    border-radius: 100px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 1.125rem 1.125rem -1rem #de5a2d;
    margin-left: 700px;
    margin-right: 50px;
}

.even_columns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



